<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Carousel</title>
</head>
<body>

<div id="app">

    <div class="main-wrapper vh-100 d-flex justify-content-center align-items-center">

        <div class="container w-75 h-75 ">

            <div class="slider position-relative  h-100 d-flex">

                <div class="items-wrapper w-100 h-100 ">

                  <div 
                  class="  w-100 h-100 position-relative" 
                  v-for="(image, index) in images"
                  :class="{'d-none': index !== counter}"
                  >

                      <img 
                      :src="image.image" 
                      class= " object-fit-cover w-100 h-100 "
                      >

                       <div class="text-content">

                          <h1>{{image.title}}</h1>
                          <p class="fs-4">{{image.text}}</p>

                       </div>

                  </div>
                    
                </div>

                <div class="thumb w-25 position-relative">

                    <img 
                    class="filter second-item"
                    v-for="(image, index) in images" 
                    @click="counter = index"
                    :class="{'active': index === counter}"
                    :src="image.image"
                    >

                </div>

                <div @click="nextPrev(false)" 
                class="arrow top  fs-3"
                >
                    <i class="fa-solid fa-chevron-up"></i>
    
                </div>
                <div @click="nextPrev(true)" class="arrow bottom  fs-3">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>

            </div>


        </div>

    </div>

</div>
    
    <script src="js/script.js"></script>
</body>
</html>